* {
    margin: 0;
box-sizing: border-box;    
}

body {
width: 100%;
height: 100%;
background-color: whitesmoke;
}

.container {
    display: grid;
    grid-template-columns: 
    1fr 2fr 1fr 1fr;
    background-color: white;
height: 100px;   
width: 100%; 
}

.title1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: green;
    font-size:40px; 
    padding: 10px 0 0 10px;
}

.title2 {
    color: rgb(249, 173, 22);
}

.searchbox {
    border-color: green;
    margin-top: 14px;  
    padding-top: 10px;  
    padding-left: 30px;
}

.searchtext {
    font-size: 20px;
}

.searchicon {
    background-color: green;
    color: white;
    padding-right: 30px;
padding-left: 30px;
padding-top: 8px;
padding-bottom: 6px;
}

.tablespacing {
    margin-top: 10px;
margin-right: 20px;
margin-left: 10px;
padding-right: 20px;
}

.links {
    color: green;
    text-decoration: none;
    font-size: 25px;
}

.cart{
   color: green;
}

.shoppingbag {
    background-color: white;
    border: none;
  color: green;  
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.vegetables {
    display: grid;
    grid-template-columns: 
    1fr 1fr 1fr 1fr;
    gap: 35px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
padding: 5px 5px 0 10px;
}

.vegetables > div {
    background-color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    height: 550px;
}

.images {
    height: 200px;
    width: 200px;
    margin-bottom: 100px;
    margin-top: 25px;
}

.buttonsymbol {
background-color: white;
height: 36px;
width: 36px;
border: 2px solid #ccc;
border-radius: 18px;
font-size: 25px;
}

.value {
    background-color: white;
    text-align: center;
    height: 30px;
    width: 70px;
    padding: 3px 30px 3px 30px;
    margin: 0px 10px 10px 10px;
    border: 2px solid whitesmoke;
}

.addtocart {
    background-color: green;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding: 5px 30px;
    cursor: pointer;
    text-align: center;
    border: none;
    width: 75%;
height: 50px;
margin: 30px 2px;
}




